osmnx==2.0.6
geopandas==1.0.1
pandas==2.1.4
networkx==3.2.1
numpy==1.26.4
folium==0.16.0

pydantic==2.5.0
fiona==1.9.5
scikit-learn==1.4.2
haversine==2.5
scgraph==2.10.0
pytest
path.py>=11.5.0 

fastapi==0.104.1
starlette==0.27.0
httpx>=0.25.0,<0.28.0         
uvicorn==0.24.0
python-multipart==0.0.6        
pydantic-settings==2.7.0